.left-rounded.feature
  = render :partial => display_preview(widgets.first.widget), :locals => {:widget => widgets.first}
.feature.middle
  - if widgets[1]
    = render :partial => display_preview(widgets[1].widget), :locals => {:widget => widgets[1]}
  - else
    = render :partial => '/webpages/home/default'
.right-rounded.feature
  - if widgets[2]
    = render :partial => display_preview(widgets[2].widget), :locals => {:widget => widgets[2]}
  - else
    = render :partial => '/widgets/contact_form'
