.leftcol
  %h3 Content
  = show_notice
  - form_for @webpage, :url => webpage_path(@webpage), :html => {:method => :put, :multipart => true} do |f|
    = render_error_msg(@webpage)
    - if can?(:edit, @webpage)
      = render :partial => 'form', :locals => {:f => f}
      .formfield
        = f.submit "Update #{@webpage.page_alias.capitalize} Page"
    - else
      = render :partial => 'view', :locals => {:webpage => @webpage}
.rightcol
  = render :partial => '/shared/page_status', :locals => {:object => @webpage}
  #page-images
    = render :partial => "/images/slideshow_edit", :locals => {:object => @webpage}
  - if @webpage.home_template?
    #page-widgets
      = render :partial => "/widgets/page_widgets", :locals => {:object => @webpage}
