#mainContent
  %h1= object.page_title
  %p= add_html_tags(object.preview_text)
  - unless object.text.blank?
    .read-more
      %p= add_html_tags(object.text)
    = link_to 'Read More', "#more", {:class => 'expand alternate', :rel => 'read-more'}
  #calculator-form
    = render :partial => '/webpages/calculator/form'
  %p Please note that all calculations are just estimates. Please contact me to learn more. Also any extras will be charged accordingly.
- unless object.subpages.blank?
  #calculator-desc
    %h1 Need More Information
    %p Click the links below to learn more about the options for your quilt.
    %menu
      - object.subpages.each do |sub|
        %li= link_to sub.page_title, "##{sub.page_alias}", :rel => 'scrollTo'
    = render :partial => '/templates/calculator_desc', :collection => object.subpages
  