%h4 Your Estimate
%h5= number_to_currency(calculated)
%p.flash_msg.success= flash
%p Options Chosen:
%ul
  %li= raw "Calculated Square inches: <em>#{Calculator.sq_in(selected[:width].to_f, selected[:height].to_f)}</em>"
  %li= raw "Extra Borders: <em>#{selected[:borders].to_i}</em>"
  %li= raw "Quilting Type: <em>#{Calculator::Quilting::LABELS[selected[:quilting].to_i]}</em>"
  %li= raw "Require Batting: <em>#{selected[:batting] ? "Yes" : "No"}</em>"
  %li= raw "Binding Type: <em>#{Calculator::Binding::LABELS[selected[:binding].to_i]}</em>"
  %li= raw "Thread Colors: <em>#{selected[:thread].to_i + 1}</em>"
  %li= raw "Require Backing: <em>#{selected[:backing] ? "Yes" : "No"}</em>"