- unless @contact.nil?
  #contact
    %h4 Quick Questions
    - form_for @contact, :url => contacts_path, :html => {:method => :post, :id => 'contact-form'} do |f|
      .formfield
        = f.label :name, 'Name:'
        = f.text_field :name
      .formfield
        = f.label :email, 'Email:'
        = f.text_field :email
      .formfield
        = f.label :message, 'Message:'
        = f.text_area :message, {:size => '16x3'}
      .button
        = f.submit 'Send'
- else
  = render :partial => '/widgets/content_fields/contact_form'
