%li{:id => "widget-#{edit_widget.id}"}
  .widget-details.clearfix
    = render :partial => display_preview(edit_widget.widget), :locals => {:widget => edit_widget}
  - if can?(:manage, Widget)
    %menu.clearfix
      %li= link_to "Enable Widget", update_status_widget_path(edit_widget), {:class => "widget add icon hidden#{disabled_link(edit_widget, 'enable')}", :title => "Enable Widget"}
      %li= link_to "Disable for Slideshow", update_status_widget_path(edit_widget), {:class => "widget remove icon hidden#{disabled_link(edit_widget, 'disable')}", :title => "Disable Widget"}
      %li= link_to "Delete", widget_path(edit_widget), {:class => "delete icon hidden", :title => "Delete Widget", 'data-delete' => 'widget'}
      %li
        .formfield
          = text_field_tag 'widget_position', edit_widget.position, {:id => nil, :maxlength => 3, :size => 5, 'data-position' => edit_widget.position, 'data-url' => order_widgets_widget_path(edit_widget)}