#contact
  %h1 Send Me A Message
  - form_for contact, :url => contacts_path, :html => {:method => :post, :id => 'contact-form'} do |f|
    = render_error_msg(contact)
    .formfield
      = f.label :name
      = f.text_field :name
    .formfield
      = f.label :email
      = f.text_field :email
    .formfield
      = f.label :phone
      = f.text_field :phone
    - unless @submitted.blank?
      .formfield.estimate
        = f.hidden_field :estimate, :value => @submitted
        %p My Quilt Estimate *
        %ul
          - contact.to_hash(@submitted).each do |attr|
            %li= attr
      %sub * This estimate will be included with your message to Treasures of Quilting
    .formfield
      = f.label :message
      = f.text_area :message, :size => '20x8'
    .button
      = f.submit "Send Message"
