- content_for :jstemplates do
  = raw %(var new_image="#{generate_template(f, :images, :partial => "/images/image_field", :form_builder_local => :img)}")
.formfield
  = f.label :page_title
  = f.text_field :page_title
  = f.hidden_field :updated_by, :value => current_user.id
.formfield.clearfix
  = f.label :webpage_id, "Parent Page"
  = f.select :webpage_id, options_for_select(Webpage.all_webpages, params[:webpage_id])
.formfield
  = link_to "Help", '#help', {:class => 'help icon hidden', 'data-help' => 'template-help'}
  = f.label :template
  = f.select :template, AppSystem::Templates.options_for_select
= render :partial => '/shared/template_help'
.formfield
  = f.label :preview_text
  = f.text_area :preview_text, {:size => "40x6", :maxlength => 140}
.formfield
  = f.label :text, "Main Body Text"
  = f.text_area :text, :size => "40x20"
- if can?(:manage, @subpage)
  #images
    %h4 Images
  = link_to 'Add an Image', '#image', {:class => "add icon add_nested_item", "data-update" => "images", "data-template" => "new_image", :title => "Add an Image"}