!!!XML
!!! 5
%html
  %head
    %title= "#{AppSystem::NAME} editor"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag 'html5_reset', 'editor'
    = javascript_include_tag 'prototype', 'effects','editor', 'dynamic-fields'
    - javascript_tag do
      = yield :jstemplates
  %body#editor
    %section#header
      %header
        %hgroup
          %h1 Juggernaut Web Editor
          %h2= "Edit #{AppSystem::APP_NAME} Content"
        %nav
          %ul
            %li= "Welcome, #{current_user.first_name}"
            %li= link_to 'View Website', '/', {:rel => 'external'}
            %li= link_to 'Log Out', logout_path
    %section#content.clearfix
      %nav
        .section
          = link_to 'Editor Home', dashboard_path
        .section
          = link_to 'Webpages', webpages_path
          %ul
            %li= link_to "New Webpage", new_webpage_path
            - @webpages.each do |web|
              %li
                = link_to web.page_alias, edit_webpage_path(web), {:class => web.link_class, 'data-page' => web.id }
                %ul
                  %li= link_to "New Subpage", new_webpage_subpage_path(web), {:class => web.link_class, 'data-page' => web.id }
                  - web.subpages.each do |sub|
                    %li= link_to sub.page_alias, edit_webpage_subpage_path(web, sub), {:class => sub.link_class, 'data-page' => "#{web.id}-#{sub.id}" }
      #main-content
        = yield
    %section#footer
      %footer.clearfix
